@import "common.scss";

.localContainer{
    margin: 1rem;
    height: 10rem;
    max-width: 25rem;
    background-color: #BE1550;
    color: white;
    text-align: center;
    font: fontvalue(16, 23, normal);
}

.alert1{
    padding: 1.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: var(--website-color);
}

.alert2{
    padding: 1.5rem;
    display: grid;
    justify-items: center;
    align-items: center;
    border-radius: 10px;
    background-color: #BE1550;
}