.about {
  width: var(--container-width);
  margin-inline: auto;
  margin-block-start: 48px;
  color: var(--dark);
  .aboutBox{
      display: flex;
      margin-top: 80px;
  }
  .aboutsmallBox{
      max-width: 311px;
      min-width: 280px;
      // margin-right: 17px;
      text-align: center;
      img{
        width: 45px;
        height: 30px;
        margin-bottom: 10px;
      }
      h2{
        font-size: 20px;
        font-weight: bold;
        color: #444444;
      }
      p{
          font-size: 16px;
          margin-bottom: 15px;
          font-weight: 400;
          color: #444444;
          span{
              font-weight: 900;
          }
      }
  }

  @media screen and (max-width: 800px) {
    .aboutBox{
      flex-direction: column;
      align-items: center;

      .aboutsmallBox{
        margin-bottom: 45px;
        h2{
          font-size: 22px;
          margin-bottom: 10px;
        }
        p{
          font-size: 19px;
        }
      }
    }
  }
}

.MainSection2{
  background: rgba(106, 190, 172, 0.2) 0% 0% no-repeat padding-box;

  .section2 {
    width: var(--container-width);
    margin-inline: auto;
    -webkit-margin-before: 48px;
    margin-block-start: 48px;
    padding-bottom: 2rem;
    padding-top: 1rem;
    height: auto;
    .card {
      height: auto;
      align-items: center;
      grid-template-columns: 1fr 26rem;
      padding-top: 2rem;
      text-align: center;

      h2{
        font-size: 30px;
        font-weight: bold;
        color: rgba(48, 75, 69, 1);
        br{
          display: none;
        }
      }
      .subhead{
        font-size: 16px;
        font-weight: 500;
        color: rgba(48, 75, 69, 1);
        margin-top: 10px;
        margin-bottom: 30px;
      }
      .mainBox{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
      }
     .links{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      margin-top: 60px;
      margin-bottom: 40px;

      .cta {
        text-transform: uppercase;
        min-width: fit-content;
        padding: 8px 18px;
        border: none;
        border-radius: 7px;
        background: rgba(48, 75, 69, 1) 0% 0% no-repeat padding-box;
        color: #ffffff;
        font-weight: 400;
        font-size: 16px;
        margin-right: 20px;

  
        &:hover {
          background: rgba(106, 190, 172, 1) 0% 0% no-repeat padding-box;
          transition: background-color 0.25s;
        }
        strong{
          font-weight: 900 !important;
        }
      }
      .cta2{
        background: transparent;
        border: 2px solid rgba(48, 75, 69, 1);
        border-radius: 7px;
        padding: 7px 18px;
        font-size: 16px;
        font-weight: 500;
        color: rgba(48, 75, 69, 1);
        text-transform: uppercase;
        text-align: center;

        &:hover {
          border: 2px solid rgba(106, 190, 172, 1);
          color: rgba(106, 190, 172, 1);
          transition: background-color 0.25s;
        }
      }
     }
    }


    @media screen and (max-width: 800px) {
      & {
        height: auto;
      }
      .card {
        height: auto;
        justify-items: center;
        grid-template-rows: repeat(2, min-content);
        margin-bottom: 1rem;
        margin-top: 2rem;
        grid-row-gap: 0;
        h2{
          font-size: 24px;
          br{
            display: block;
          }
        }
        p{
          font-size: 15px;
          margin-top: 0px;
          margin-bottom: 0px;
        }

        .links{
          flex-direction: column;
          margin-top: 40px;
          .cta {
            font-size: 12px;
            padding: 7px 14px;
            border-radius: 7px;
            font-weight: 400;
            margin-right: 0px;
            margin-bottom: 20px;
            width: 283px;
          }
          .cta2 {
            font-size: 12px;
            padding: 6px 14px;
            border-radius: 7px;
            font-weight: 400;
            width: 283px;
          }
        }

    }
  }
}
}