@import 'common.scss';
.cardSkeleton {
  height: 13.8rem;
  width: var(--container-portal-width);
  margin: 1rem auto;
  border-radius: 10px;
  @include skeletonAnimation();
  @media screen and (max-width: 62.5rem) {
    width: 90vw;
  }
  @media screen and (max-width: 53.125rem) {
    height: 27.18rem;
  }
}
