@import 'styles/common.scss';

.footer {
  font-family: var(--website-font-family);
  color: white;
  background-color: var(--website-color);
  padding: 50px 90px;
  align-items: center;
  position: relative;

  @media (max-width: 530px) {
    padding: 0px 20px 30px 20px;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    width: var(--container-width);
    margin: auto;

    @media (max-width: 800px) {
      width: 100%;
      flex-wrap: wrap;
    }

    .pl_10 {

      @media (min-width: 330px) and (max-width: 530px) {
        padding-left: 10%;
      }

    }

    .item {
      display: flex;
      flex-direction: column;
      gap: 7px;
      margin-top: 10px;
      min-width: 110px;

      @media (max-width: 530px) {
        margin-top: 30px;
        min-width: 50%;
        &:last-child {
          min-width: 100%;
        }
      }

      h2 {
        color: #FFF;
        font-family: var(--website-font-family);
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        text-transform: uppercase;
      }

      a {
        color: #FFF;
        font-family: var(--website-font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;

        &:hover {
          font-weight: 500;
        }
      }

      label {
        color: #FFF;
        font-family: var(--website-font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;

        &:hover {
          font-weight: 500;
        }
      }

      address {
        color: #FFF;
        font-family: var(--website-font-family);
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;

        @media (max-width: 530px) {
          br {
            display: none;
          }
        }
      }
    }
  }

}

.lowerFooter {
  background-color: var(--dark);
  padding: 15px 100px;

  @media (max-width: 530px) {
    padding: 15px 50px;
  }

  .inner {
    width: var(--container-width);
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: auto;

    @media (max-width: 800px) {
      width: 100%;
    }

    @media (max-width: 530px) {
      justify-content: center;
      flex-direction: column;
    }

    .logo {
      img {
        width: 51.905px;
        height: 20px;
      }
    }

    .inc {
      color: #FFF;
      font-family: var(--website-font-family);
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: uppercase;
      // @media (max-width: 530px) {
      //   font-size: 12px;
      // }
    }

    .developedBy {
      a {
        display: flex;
        align-items: center;

        img {
          margin-left: 5px;
          width: 88.523px;
          height: 12.148px;
        }

        span {
          color: #FFF;
          font-family: var(--website-font-family);
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          // @media (max-width: 530px) {
          //  font-size: 9px;
          // }
        }
      }

      cursor: pointer;
    }
  }
}