@import 'styles/common.scss';
@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100..900&display=swap');

.footer {
  font-family: var(--website-font-family);
  color: white;
  background-color: var(--website-color);
  padding: 50px 90px;
  align-items: center;
  position: relative;

  .inner{
    display: flex;
    justify-content: space-between;
    width: var(--container-width);
    @media (max-width: 800px) {
      width: 100%;
      flex-wrap: wrap;
    }
    margin: auto;
    .item{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 10px;
      h2{
        color: #FFF;
        font-family: Catamaran;
        font-size: 14px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      a{
        color: #FFF;
        font-family: Catamaran;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;
        &:hover{
          font-weight: 600;
        }
      }
      label{
        color: #FFF;
        font-family: Catamaran;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        align-items: center;
        gap: 10px;
        cursor: pointer;
        &:hover{
          font-weight: 600;
        }
      }
    }
  }

}
.lowerFooter {
  background-color: var(--dark);
  padding: 15px 100px;
  .inner{
    width: var(--container-width);
    display: flex;
    gap: 15px;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
    @media (max-width: 800px) {
      width: 100%;
    }
    .logo{
      img{
        width: 51.905px;
        height: 20px;
        @media (max-width: 530px) {
          width: 30px;
          height: 10px;
        }
      }
    }
    .inc{
      color: #FFF;
      font-family: Catamaran;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      @media (max-width: 530px) {
        font-size: 10px;
      }
    }
    .developedBy {
      a {
        display: flex;
        align-items: center;
        img {
          margin-left: 5px;
          width: 88.523px;
          height: 12.148px;
          @media (max-width: 530px) {
            width: 58.905px;
            height: 10px;
          }
        }
        span{
          color: #FFF;
          font-family: Catamaran;
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          @media (max-width: 530px) {
           font-size: 9px;
          }
        }
      }
      cursor: pointer;
    }
  }
}
