@import 'styles/common.scss';

.footer {
  height: 8rem;
  font-family: var(--website-font-family);
  color: white;
  background-color: var(--website-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
  position: relative;
  .upperLayer {
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    ul {
      list-style: none;
      display: flex;
      width: 50%;
      justify-content: space-between;
      align-items: center;
      li {
        text-transform: uppercase;
        font-size: 0.8rem;
        cursor: pointer;
      }
      li:first-child,
      :nth-child(2) {
        font-weight: 700;
      }
      li:nth-child(3),
      :nth-child(4),
      :nth-child(5),
      :nth-child(6) {
        font-weight: 300;
      }
    }
  }
  .lowerLayer {
    display: flex;
    height: 50%;
    justify-content: space-between;
    font-weight: 400;
    align-items: center;
    position: relative;
    ul {
      list-style: none;
      display: flex;
      width: 45%;
      justify-content: space-between;
      align-items: center;
      li {
        font-size: 0.8rem;
      }
    }
    .instaLogo {
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    div {
      text-align: center;
    }

    @media screen and (max-width: 50rem) {
      ul li {
        font-size: 0.875rem;
      }
    }

    @media screen and (min-width: 71.875rem) and (max-width: 81.25rem) {
      ul {
        width: 50%;
      }
    }
  }
  @media screen and (max-width: 71.875rem) {
    height: 22rem;
    .upperLayer {
      flex-wrap: wrap;
      justify-content: center;
      .logo {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      ul {
        width: min(20rem, 80%);
        flex-wrap: wrap;
        text-align: center;
        justify-content: space-between;
        height: 6rem;
        li {
          text-transform: initial;
          font-size: 0.875rem;
        }
        li {
          width: 50%;
        }
      }
    }
    .lowerLayer {
      flex-direction: column;
      justify-content: space-around;
      padding-top: 1rem;
      ul {
        height: 55%;
        width: 100%;
        flex-direction: column;
        li {
          font-size: 0.875rem;
        }
      }
    }
  }

  .developedBy {
    img {
      margin-left: 5px;
    }
    a {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
    cursor: pointer;
  }

  @media screen and (max-width: 50rem) {
    .upperLayer {
      & {
        height: 11rem;
      }

      ul li {
        font-size: 1rem;
      }
    }
  }
}
