.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.paymentCardsWrapper {
  max-width: var(--container-width);
  
  @media screen and (max-width: 1099px) {
    max-width: var(--container-width-75);
  }

  color: var(--dark);
  margin-block-start: 32px;
  font-family: var(--website-font-family);

  .headline {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    text-transform: capitalize;
  }

  .subtitle {
    text-align: center;
    font-weight: 500;
    .subtitleBlock {
      display: block;
    }
  }
}
