@import 'common.scss';
.form {
  background-color: var(--website-color-light);
  font: fontvalue(14, 14, 500);
  text-align: center;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  row-gap: 0.5rem;
  width: min(20rem, 90vw);
  .transferData {
    display: grid;
    row-gap: 0.2rem;

    .phoneInput {
      input {
        padding-left: 60px;
        width: 100%;
      }
      input:focus {
        border: 1px solid rgb(206, 212, 218);
      }
      & > input {
        box-shadow: none;
      }
      div {
        box-shadow: none;
      }
       div:nth-of-type(2) {
        height: 2rem;
        bottom: 0;
        top: unset;
      }
    }
  }
  select {
    height: 2rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1rem;
    font: fontvalue(14, 14, 300);
    border: 1px solid rgb(206, 212, 218);
    box-shadow: none;
    margin-top: 0.5rem;
    &:focus {
      outline: none;
    }
  }
  .defaultOption {
    color: grey;
  }
  input {
    height: 2rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1rem;
    font: fontvalue(14, 14, 300);
    width: 100%;
    border: none;
    border: 1px solid rgb(206, 212, 218);
    box-shadow: none;
    margin-top: 0.5rem;
    &:focus {
      outline: none;
    }
  }
  button {
    height: 2rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1rem;
    font: fontvalue(14, 14, 500);
    width: 100%;
    border: none;
    border: 1px solid rgb(206, 212, 218);
    box-shadow: none;
    margin-top: 0.5rem;
    color: white;
    background-color: var(--website-color);
  }
  .error {
    font: fontvalue(12, 12, 600);
    color: #be1550;
    text-align: left;
  }
  .disabled {
    background-color: grey;
    cursor: auto;
  }
}
