.cardSkeleton {
  background-color: var(--website-color-opacity-low);
  height: 28rem;
  border-radius: 10px;
  padding: 30px;
  background-color: red;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(204, 7%, 87%);
  }
  100% {
    background-color: hsl(200, 16%, 96%);
  }
}
