@import 'common.scss';

.card {
  background-color: var(--website-color-opacity-low);
  border-radius: 10px;
  padding: 30px;
  height: 28rem;
  font-family: Brandon Grotesque;
  display: flex;
  border: 3px solid transparent;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  .name {
    color: #003652;
    font: fontvalue(21, 23, 500);
    text-align: center;
  }
  .image {
    width: 100%;
    height: 20rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
  }
  .type {
    font: fontvalue(18, 18, 500);
    font-family: 'Poppins', sans-serif;
    color: #003652;
    text-align: center;
  }
  .price {
    margin-top: 1rem;
    font: fontvalue(13.5, 14, 500);
    font-family: 'Poppins', sans-serif;
    color: #003652;
    text-align: center;
  }
  .price_description {
    font: fontvalue(12, 12, 500);
    font-family: 'Poppins', sans-serif;
    color: #003652;
    margin-top: 1rem;
    text-align: center;
    height: 1.1rem;
  }
  .description {
    margin-top: 2rem;
    height: 5rem;
    display: flex;
    color: #003652;
    font-family: 'Poppins', sans-serif;
    justify-content: center;
    font: fontvalue(12, 13, 300);
    span {
      text-align: center;
      align-self: flex-end;
    }
    @media screen and (max-width: 59.375rem) {
      max-width: 20rem;
    }
  }
  &:hover {
    border: 3px solid #00365234;
  }
}

.selectedCard {
  border: 3px solid var(--website-color) !important;
  border-radius: 10px;
}
