@import 'common.scss';

.summary {
  grid-column-start: 1;
  grid-column-end: 3;
  width: 100%;
  margin: auto;
  font: fontvalue(14, 14, 300);
  font-family: 'Poppins', sans-serif;
  .planType {
    display: flex;
    justify-content: space-between;
  }
  .additional {
    display: flex;
    justify-content: space-between;
    align-items: center;
    select {
      margin: 10px;
      border: 1px solid grey;
      width: 40px;
      height: 20px;
    }
    .change {
      font: fontvalue(16, 16, 300);
      font-family: 'Poppins', sans-serif;
      color: var(--website-color);
    }
  }
  // @media screen and (min-width: 62.5rem) and (max-width: 75rem) {
  //   width: 70%;
  // }
  // @media screen and (max-width: 62.5rem) {
  //   grid-column-end: 2;
  //   width: 100%;
  // }
}
