.carouselContainer{
    width: calc(var(--container-width) + 4rem);
    margin: 0 auto;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: center;
}

.carouselButton{
    border: none;
    border-radius: 1rem;
    height: 2rem;
    color: #ffffff;
    width: 2rem;
    background-color: var(--dark);
    position: relative;
}

.left{
    left: 1rem;
}

.right{
    right: 1rem;
}

.currentIndicatorContainer{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-self: center;
    grid-column: 2;
    padding: 10px;

}

.indicator{
    width: 8px;
    height: 8px;
    border-radius: 4px;
    cursor: pointer;
    background-color: #bfbfbf;

}

.currentIndicator{
    background-color: var(--dark);

}