@import 'common.scss';

.selectedPlan {
  background-color: #75b2e6;
  color: white !important;
  font: fontvalue(16, 16, 600) !important;
  margin: 2px !important;
}

.card {
  cursor: pointer;
  padding: 20px 0px;
  width: 100%;
  margin: 2px;
  border-radius: 3px;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  color: #003652;
  row-gap: 1rem;
  border: 3px solid transparent;

  .planType {
    text-align: center;
    font: fontvalue(16, 16, 600);
    text-transform: uppercase;
  }
  .monthlyPrice {
    font: fontvalue(16, 16, 300);
    text-align: center;
  }

  @media screen and (min-width: 55.938rem) and (max-width: 85.313rem) {
    &:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: .5rem;
    }
    &:nth-child(2n + 2) {
      margin-left: .5rem;
      margin-right: 0rem;
    }
  }
  &:hover {
    border: 3px solid #00365233;
  }
}
