@import 'common.scss';


.selectedPlan{
  background-color: #75B2E6;
  color: white;
  font: fontvalue(16, 16, bold)!important;

}

.card {

  cursor: pointer;
  padding: 12px 0px;
  width: 100%;
  margin: 2px;
  border-radius: 3px;
  
  .planType {
    text-align: center;
    // font: fontvalue(16, 16, 300);
    font-family: 'Brandon Grotesque', sans-serif;
  }
  .monthlyPrice {
    // font: fontvalue(16, 16, 300);
    font-family: 'Brandon Grotesque', sans-serif;
    text-align: center;
    margin-top: 1.5rem;
  }
 
  @media screen and (min-width: 55.938rem) and (max-width: 85.313rem) {
    &:nth-child(2n + 1) {
      margin-left: 0;
      margin-right: 1rem;
    }
    &:nth-child(2n + 2) {
      margin-left: 1rem;
      margin-right: 0rem;
    }
  }

}
