@import 'common.scss';

.header {
  height: 4rem;
  background-color: var(--website-color);
  color: white;
  font: fontvalue(14, 18, 400);
  text-decoration: none;
  .mobileHeader {
    display: none;
  }
  .translucentLayer {
    height: 100%;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: 100%;
    margin: auto;
    .logo {
      width: 9rem;
    }
    div:nth-child(2) {
      flex-grow: 1;
      ul {
        // flex-grow: 1;
        // display: flex;
        // justify-content: center;
        // gap: 50px;
      }
    }
    div:nth-child(3) {
      // flex-grow: 1;
      // flex-basis: 0;
    }
    .portalLink {
      a:hover {
        color: var(--dark);
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
    div {
      cursor: pointer;
    }
    .backgroundLight {
      background-color: var(--website-color-light);
    }
    .userDetails {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .login {
        min-width: 9rem;
        // width: 100%;
        display: flex;
        align-items: flex-end;
        height: 100%;
        justify-content: center;
        flex-direction: column;
        text-transform: uppercase;
        position: relative;
        @media screen and (max-width: 62.5rem) {
          align-items: flex-start;
        }
        .colorDark {
          color: #003652;
        }
        div {
          display: flex;
          align-items: center;
        }
        img {
          margin-right: 0.3rem;
        }
        ul {
          z-index: 1;
          list-style: none;
          position: absolute;
          top: 64px;
          background-color: var(--dropdown-color);
          left: 30px;
          width: 100%;
          font: fontvalue(14, 14, 300);
          text-transform: initial;
          // background-color: var(--website-color-light);
          color: #003652;
          div {
            .user_details {
              display: flex;
              flex-direction: column;
              align-items: flex-start;
              .name {
                height: 15px;
                width: 7rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
              .email {
                margin-top: 10px;
                font: fontvalue(12, 12, 300);
                height: 15px;
                width: 7rem;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
              }
            }
            width: 100%;
            li {
              display: flex;
              align-items: center;
              padding: 15px 15px 15px 15px;
              font-weight: 500;
              width: 100%;
              a {
                display: flex;
                align-items: center;
                color: inherit;
              }
            }
            &:hover {
              background-color: var(--website-color-light);
            }
            &:first-child {
              cursor: auto;
              &:hover {
                background-color: var(--dropdown-color);
              }
            }
          }
        }
      }
      .loggedOut {
        margin-left: 0;
        min-width: 9rem;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        a {
          display: flex;
          align-items: center;
          img {
            margin-right: 0.3rem;
          }
        }
      }
    }
    div:nth-child(2) {
      width: 20%;
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        gap: 50px;
      }
      @media screen and (min-width: 62.5rem) and (max-width: 81.25rem) {
        width: 25%;
      }
    }
  }
  @media screen and (max-width: 62.5rem) {
    .mobileHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      div:first-child {
        position: absolute;
        left: 30px;
        cursor: pointer;
      }
      div:nth-child(2) {
        cursor: pointer;
      }
    }
    .translucentLayer {
      width: 100vw;
      z-index: 1;
      height: 100vh;
      background-color: #00000029;
      position: absolute;
      top: 0;
      transition: transform 0.3s ease-out;
    }
    .headerContainer {
      height: 100vh;
      background-color: var(--website-color);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      width: min(65vw, 25rem);
      z-index: 999;
      .logo {
        flex-grow: unset;
        flex-basis: unset;
      }
      div:nth-child(2) {
        flex-grow: unset;
      }
      div:nth-child(3) {
        flex-grow: unset;
        flex-basis: unset;
      }
      .login {
        margin-left: 0;
        div {
          margin-left: 0;
        }
        li {
          a {
            text-transform: uppercase;
          }
        }
      }
      div {
        font-size: 1rem;
        margin-left: 1.5rem;
        font-weight: 600;
      }
      div:first-child {
        left: 10;
        margin-top: 1rem;
      }
      div:nth-child(2) {
        width: auto;
        height: 10%;
        margin-top: 2.5rem;
        ul {
          flex-direction: column;
          text-align: left;
          align-items: inherit;
        }
        @media screen and (max-width: 62.5rem) {
          height: unset !important;
          ul {
            gap: 30px;
          }
        }
      }
      div:nth-child(3) {
        margin-top: 1rem;
      }
      .userDetails {
        height: auto;
        justify-content: flex-start;
        .login {
          ul {
            position: static;
            background: none;
            color: white;
            font-family: 'Brandon Grotesque', sans-serif;

            font-weight: normal;
            font-size: 14px;
            padding: 0;
            div {
              margin-top: 0;
              li {
                padding: 0 !important;
                margin-top: 28px;
              }
              &:hover{
                background-color: inherit;
              }
            }
          }
        }
      }
    }
  }
}
