@import 'common.scss';

.header {
  height: 4rem;
  background-color: var(--website-color);
  color: white ;
  // font-family: Brandon Grotesque;
  // font-weight: 400;
  // font-size: 1.1rem;
  font: fontvalue(14, 18, 400);
  text-decoration: none;
  .mobileHeader {
    display: none;
  }
  .translucentLayer {
    height: 100%;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: 100%;
    margin: auto;
    a{
      text-decoration: none;
      color: white;
    }
    div {
      cursor: pointer;
    }
    .loggedIn{
      display: flex;
      align-items: center;
      text-transform: uppercase;
      margin-left: 0;
      img{
        margin-right: .3rem;
      }
    }
    div:nth-child(2) {
      width: 20%;
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
      @media screen and (min-width: 62.5rem) and (max-width: 81.25rem) {
        width: 25%;
      }
    }
  }
  @media screen and (max-width: 62.5rem) {
    .mobileHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      div:first-child {
        position: absolute;
        left: 30px;
        cursor: pointer;
      }
      div:nth-child(2) {
        cursor: pointer;
      }
    }
    .translucentLayer {
      width: 100vw;
      height: 100vh;
      background-color: #00000029;
      position: absolute;
      top: 0;
      transition: transform 0.3s ease-out;
    }
    .headerContainer {
      height: 100vh;
      background-color: var(--website-color);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      width: min(65vw, 25rem);
      z-index: 999;
      div {
        font-size: 1rem;
        margin-left: 1.5rem;
        font-weight: 600;
      }
      div:first-child {
        left: 10;
        margin-top: 1rem;
      }
      div:nth-child(2) {
        width: auto;
        height: 10%;
        margin-top: 2.5rem;
        ul {
          flex-direction: column;
          text-align: left;
          align-items: inherit;
        }
      }
      div:nth-child(3) {
        margin-top: 5rem;
      }
    }
  }
}