@import 'common.scss';

.header {
  height: 4rem;
  background-color: var(--website-color);
  color: white;
  font: fontvalue(14, 18, 400);
  text-decoration: none;
  .mobileHeader {
    display: none;
  }
  .translucentLayer {
    height: 100%;
  }
  .headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: 100%;
    margin: auto;
    .portalLink {
      a:hover {
        color: var(--dark);
      }
    }
    a {
      text-decoration: none;
      color: white;
    }
    div {
      cursor: pointer;
    }
    .backgroundLight {
      background-color: var(--website-color-light);
    }
    .userDetails {
      height: 100%;
      display: flex;
      align-items: center;
      min-width: 7.5rem;
      .login {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        text-transform: uppercase;
        position: relative;
        @media screen and (max-width: 62.5rem) {
          align-items: flex-start;
        }
        .colorDark {
          color: #003652;
        }
        div {
          display: flex;
          align-items: center;
        }
        img {
          margin-right: 0.3rem;
        }
        ul {
          z-index: 1;
          list-style: none;
          position: absolute;
          top: 40px;
          width: 100%;
          font: fontvalue(12, 12, 300);
          text-transform: initial;
          background-color: var(--website-color-light);
          padding: 8px 5px 0px 5px;
          color: #003652;
          li {
            display: flex;
            align-items: center;
            width: 100%;
            a {
              display: flex;
              align-items: center;
              color: inherit;
            }
            margin-bottom: 0.7rem;
          }
        }
      }
      .loggedOut {
        margin-left: 0;
        a {
          display: flex;
          align-items: center;
          img {
            margin-right: 0.3rem;
          }
        }
      }
    }
    div:nth-child(2) {
      width: 20%;
      ul {
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
      }
      @media screen and (min-width: 62.5rem) and (max-width: 81.25rem) {
        width: 25%;
      }
    }
  }
  @media screen and (max-width: 62.5rem) {
    .mobileHeader {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      position: relative;
      div:first-child {
        position: absolute;
        left: 30px;
        cursor: pointer;
      }
      div:nth-child(2) {
        cursor: pointer;
      }
    }
    .translucentLayer {
      width: 100vw;
      z-index: 1;
      height: 100vh;
      background-color: #00000029;
      position: absolute;
      top: 0;
      transition: transform 0.3s ease-out;
    }
    .headerContainer {
      height: 100vh;
      background-color: var(--website-color);
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      position: absolute;
      width: min(65vw, 25rem);
      z-index: 999;
      .login {
        margin-left: 0;
        div {
          margin-left: 0;
        }
        li {
          a {
            text-transform: uppercase;
          }
        }
      }
      div {
        font-size: 1rem;
        margin-left: 1.5rem;
        font-weight: 600;
      }
      div:first-child {
        left: 10;
        margin-top: 1rem;
      }
      div:nth-child(2) {
        width: auto;
        height: 10%;
        margin-top: 2.5rem;
        ul {
          flex-direction: column;
          text-align: left;
          align-items: inherit;
        }
      }
      div:nth-child(3) {
        margin-top: 3rem;
      }
      .userDetails {
        height: auto;
        .login {
          ul {
            position: static;
            background: none;
            color: white;
            font-family: Brandon Grotesque;

            font-weight: normal;
            font-size: 14px;
            padding: 0;
            li {
              margin-top: 20px;
            }
          }
        }
      }
    }
  }
}
