.button {
    font-family: var(--website-font-family);
    font-weight: bold;
    text-transform: uppercase;
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 12px;
    border: none;
}

.main {
    background-color: #043750;
}

.main:hover {
    background-color: #075073;
}

.secondary {
    background-color: #64a2d2;
}

.secondary:hover {
    background-color: #3b7eb1;
}