.cardGroupWrapper {
    margin-block: 50px;
}

.headline {
    text-align: center;
    font-size: 32px;
    color: #003652;
    text-transform: capitalize;
}

.subtitle {
    text-align: center;
    margin-block: 10px;
}

.cardsWrapper {
    display: flex;
    gap: 20px;
    margin-block-end: 40px;

    @media screen and (max-width: 45rem) {
        flex-direction: column;
        margin-block-end: 20px;
    }
}