.main {
  width: var(--container-width);
  font-family: var(--website-font-family);
  margin: 0 auto;
  overflow: hidden;

  .storiesWrapper {
    padding-bottom: 30px;
  }

  .storyWrapperLeft {
    gap: 30px;
    padding: 20px;
    padding-left: 0;
    width: 50%;
  }

  .storyWrapperRight {
    gap: 30px;
    padding: 20px;
    padding-right: 0;
    width: 50%;
  }

  .skeletonWrapper {
    display: flex;
  }

  @media screen and (max-width: 65rem) {
    .storyWrapperLeft,
    .storyWrapperRight {
      width: 100%;
      padding: 20px 0;
    }

    .skeletonWrapper {
      flex-direction: column;
    }
  }
}

.title {
  font-size: 35px;
  margin-block: 10px;
}

.introWrapper {
  margin: 2.5rem auto;
  text-align: center;
  color: var(--dark);
}

.introParagraph {
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
}

.introParagraphLinks {
  font-weight: 600;
  color: var(--dark);
  text-decoration: underline;
}

.storyRow {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

