@import 'common.scss';

.forgotPasswordContainer {
  width: 20rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  .emailText {
    font: fontvalue(16, 23, 400);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .passwordText {
    font: fontvalue(16, 23, 400);
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .emailInput {
    background-color: var(--website-color-opacity-low);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 20px;
    }
    input {
      border: none;
      line-height: 30px;
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      outline: none;
    }
    input[type='submit'] {
      background-color: var(--website-color);
      color: white;
      font: fontvalue(14, 30, 400);
      cursor: pointer;
      outline: none;
    }
  }
  .passwordInput {
    background-color: var(--website-color-opacity-low);
    padding: 2rem;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    label {
      margin-bottom: 20px;
    }
    input {
      border: none;
      line-height: 30px;
      width: 100%;
      border-radius: 5px;
      padding: 0 10px;
      outline: none;
    }
    input[type='submit'] {
      background-color: var(--website-color);
      color: white;
      font: fontvalue(14, 30, 400);
      cursor: pointer;
      outline: none;
    }
    .disabled {
      background-color: grey !important;
      cursor: auto !important;
    }
  }
  .error {
    color: red;
    font: fontvalue(14, 14, 400);
  }
}
