
@import 'common.scss';

@mixin general-container {
  display: grid;
  width: var(--container-width);
  margin: auto;

  @media screen and (max-width: 1099px) {
    width: var(--container-width-75);
  }
}

$height: 30rem;

.card{
  @include general-container;
  grid-template-columns: repeat(2, auto);
} 

.testimonials{
        display: grid;
        height: 150px;
        width: var(--container-width);
        margin: 0 auto;
        grid-template-columns: auto auto;
        grid-template-rows: 90% 10%;
        background: transparent linear-gradient(278deg,#bfdef8 0%, var(--website-color-banner) 30%,  #e0effc 100%) 0% 0% no-repeat padding-box;
        padding: 20px;
        padding-right: 0;       
        border-radius: 10px;

        p:nth-child(1){
          font: fontvalue(15,22,400);

          color: var(--dark);
          padding-bottom: 20px;
          grid-column: 1/1;
        }
        p:nth-child(2){
          font: fontvalue(11,15,normal);
          font-style: italic;
          color: var(--dark);
          grid-column: 1/1;
        }

        div{
          object-fit: contain;
          grid-column: 2;
          grid-row: 1/2;
          margin-top: 0;
        }

        @media screen and (max-width: 800px) {
          height: auto;
          grid-template-rows: 1fr auto;
          padding-bottom: 0;
    
          p:nth-child(1){
            grid-column: 1/3;
          }
    
          div{
            grid-row: 2/2;
            margin: 0;
            padding: 0;
            display: grid;
            justify-self: end;
    
            img{
              height: 6rem;
              width: 5.3rem;
            }
          }
        }
}

.pdfContainer{
  width: var(--container-width);
  max-height: 640px;
  height: 80%;
  border: 6px solid var(--website-color);
  border-radius: 5px;

  .ribbon{
    background-color: var(--website-color);
    text-align: center;
    height: 2rem;
    font: fontvalue(16,23,bold);
    padding-top: 2px;

  }

  @media screen and (max-width: 800px){
    &{
      width: 100%;   
    } 
  }
}

.main{
  font-family: var(--website-font-family);

  .section1{
    height: $height;
    background: var(--website-color-banner) url('/images/homepage/LinesBackground.png') 0 0 no-repeat;
    background-size: cover;
      .card{

        height: $height;
        grid-template-columns: 1fr 28rem;

       .cardContentLeft{
        align-self: center;
  
        h1{
            font: fontvalue(45,60,700);
        }
  
        h3{
          font: fontvalue(30,43,normal);
        }
  
        h1, h3{
            color: #fff
        }
  
        button{
            @include buttonState(#ffffff, var(--dark));
            width: 10rem;
            height: 3rem;
            border: none;
            opacity: 1;
            border-radius: 10px;
            font: fontvalue(20,24,bold);
            margin: 0 auto;
            margin-top: 3rem;
        }

        
          @media screen and (max-width: 800px) {
            .cardMobileImage{
            background: transparent url('/images/homepage/ChayenuHomeTopRight.png') center 0 no-repeat padding-box;
            background-size: contain;
            height: 12rem;
            margin-top: 1rem;
          }

          & {
            margin: 0 auto;
            display: grid;
            width: 100%;

            h1, h3{
              text-align: center;
            }

            h1{
              font: fontvalue(35,60,700);
            }
    
          h3{
              font: fontvalue(20,43,normal);
            }

          }
      }  
    }
  
    .cardContentRight{
        background: transparent url('/images/homepage/ChayenuHomeTopRight.png') 0% 100px no-repeat padding-box;
        background-size: 100% 270px;

        @media screen and (max-width: 800px) {
            display: none;
  
        }
        
    }


  
  }

  @media screen  and (max-width: 800px){
      height: 30rem;
  }

  }

  .section2{
    min-height: 590px;
    padding-bottom: 3rem;
    padding-top: 1rem;
    height: auto;
      .card{
          height: auto;
          align-items: center;
          grid-template-columns: 1fr 26rem;
          padding-top: 2rem;

          .cardContentLeft{
              h2{
                  font: fontvalue(38,49,bold);

              }
              
              ul{
                  padding-top: 1rem;
                  padding-left: 1rem;
                  padding-bottom: 1rem;
              }

              ul li::marker {
                  font-size: 9px;
                }
              li{
                  padding: 4px;
                  list-style-position: outside;
              }
          }

      }

      .cardContentRight{
          background: transparent url('/images/homepage/ChayenuHomeSecondSection.png') 0 36px no-repeat padding-box;
          background-size: 100% 290px;
          height: 100%;

          button{
              @include buttonState(var(--dark), #ffffff);
              border-radius: 10px;
              border: none;
              width: 145px;
              height: 40px;
              margin-top: 67%;
              margin-left: 32%;
              font: fontvalue(14,17,bold);

          }
      }

      .card:nth-child(2){
        display: grid;
        height: 150px;
        grid-template-columns: auto auto;
        grid-template-rows: 90% 10%;
        background: transparent linear-gradient(278deg,#bfdef8 0%, var(--website-color-banner) 30%,  #e0effc 100%) 0% 0% no-repeat padding-box;
        padding: 20px;
        padding-right: 0;       
        border-radius: 10px;
        margin-top: 2rem;

        p:nth-child(1){
          font: fontvalue(15,22,400);

          color: var(--dark);
          padding-bottom: 20px;
          grid-column: 1/1;
        }
        p:nth-child(2){
          font: fontvalue(11,15,normal);
          font-style: italic;
          color: var(--dark);
          grid-column: 1/1;
        }

        div{
          object-fit: contain;
          grid-column: 2;
          grid-row: 1/2;
          margin-top: 3rem;
        }

      }

      @media screen and (max-width: 800px){
        & {
          height: auto;
        }
        .card{
          height: auto;
          justify-items: center;
          grid-template-rows: repeat(2, min-content);
          margin-bottom: 1rem;
          margin-top: 2rem;
          grid-row-gap: 0;
          
          .cardContentLeft{
            justify-self: start;
            h2{
                font: fontvalue(28,39,bold);

            }
          }

          .cardContentRight{
            max-width: 20rem;
            width: 100%;
            margin-top: 0;
            background-size: contain;
          }
        }

        .card:nth-child(2){
          height: auto;
          grid-template-rows: repeat(2, min-content);
          padding-bottom: 0;
    
          p:nth-child(1){
            grid-column: 1/3;
            padding-right: 20px;
          }
    
          div{
            grid-row: 2/2;
            margin: 0;
            padding: 0;
            display: grid;

            img{
              height: 6rem;
              width: 4.2rem;
            }

          }
          

        }

      }

    }

  .section3{
    height: 690px;   
    background-color: #e3f0fa;

    .card{
      height: 385px;
      padding-top: 75px;
      grid-template-columns: 1fr auto;
      grid-template-rows: repeat(3, 1fr);

      .head{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;

        h2{
          font: fontvalue(38,62,bold);
        }
      }

      .cardContentLeft{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-top: 6px;
        grid-column-gap: 0;
        div{
          height: 306px;
          display: grid;
          grid-gap: 1rem;
          .childCard{
            display: grid;
            grid-template-rows: repeat(5, 16%);
            align-items: center;
            grid-auto-columns: 1fr 1fr;
            padding-right: 6%;
            grid-gap: 0 0;
            grid-auto-flow: column;
            
            .dailyStudyCards{
              display: grid;
              max-width: 150px;
              height: 35px;
              background: #EA1F2734 0% 0% no-repeat padding-box;
              justify-content: center;
              align-items: center;
              cursor: pointer;
              margin-right: 1rem;
              
              p{
                font: fontvalue(12,14,bold);
                text-transform: uppercase;
                text-align: center;
              }

            }
          
          }

        }

        & div:nth-child(2) > div.childCard{
          grid-template-columns: repeat(2, 1fr);

        }

        @media screen and (max-width: 800px) {

          &{
            div{

              .subtitle{
                font-size: 1rem;
              }

              .childCard{
                padding-right: 0;
              }
            }
          }

        }

      }

      .cardContentRight{
        display: grid;
        justify-content: right;
        position: relative;
        
        grid-row: 1/3;
        grid-column: 3;

        .mobileWrapper{
          margin-top: 25px;
        }
        
        .screen{
          margin-left: 6px;
          color: transparent;
          width: 143px;
          height: 315px;
          border-radius: 12px;
          margin-top: -331px;
        }


        @media screen and (max-width: 800px) {
            & {
              display: none;
            }
        }

      }

      .subtitle{
        font: fontvalue(15,22,normal);
        text-transform: uppercase;

      }

    }

    .card:nth-child(2){
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: 90% 10%;
      height: 150px;
      background: transparent linear-gradient(278deg, #bfdef8 0%, var(--website-color-banner) 30%, #bfdef8 100%) 0% 0% no-repeat padding-box;
      padding: 20px;
      padding-right: 0;
      border-radius: 10px;
      margin-top: 105px;

      p:nth-child(1){
        font: fontvalue(15,22,400);

        color: var(--dark);
        padding-bottom: 20px;
        padding-right: 20px;
        grid-column: 1/1;
      }
      p:nth-child(2){
        font: fontvalue(11,15,normal);
        font-style: italic;
        color: var(--dark);
        grid-column: 1/1;
      }

      div{
        object-fit: contain;
        grid-column: 2;
        grid-row: 1/2;
        margin-top: 0;
      }
    }

    
    @media screen and (max-width: 800px) {

      &{
        min-height: 95rem;
        height: auto;
      }

      .card{
      .cardContentLeft{
        grid-template-columns: 1fr;
        grid-row-gap: 2rem;

        div{
          height: 30rem;
          .childCard{
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                align-items: center;
                width: 100%;
                grid-column-gap: 1rem;
                grid-auto-flow: row;

                .dailyStudyCards{
                  width: 100%;
                  height: 62px;
                  max-width: initial;
                  font-weight: bold;
                }

          }
        }

      }
        

    }

    .card:nth-child(2){
      margin-top: 52rem;
      height: auto;
      grid-template-rows: 1fr auto;
      padding-bottom: 0;

      p:nth-child(1){
        grid-column: 1/3;
      }

      div{
        grid-row: 2/2;
        margin: 0;
        padding: 0;
        display: grid;

        img{
          height: 6rem;
          width: 5.3rem;
        }
      }

    }
  }

  }

  .section4{
    min-height: 545px;

    .card{
      grid-template-columns: 27% 1fr 1fr 1fr;
      margin-top: 100px;
      grid-gap: 5px;
      margin-bottom: 2rem;

      div{
        margin: 0 auto;
      }

      h2{
        font: fontvalue(38,62,bold);

      }

      .note{
        font: fontvalue(24,35,normal);

        padding-right: 45px;

      }

      .column1 p:nth-child(3){
        padding-top: 10px;
        font: fontvalue(15,22,normal);

      }

      .column1 p:nth-child(4){
        font: fontvalue(17,24,500);
        font-style: italic;

        color: var(--website-color);
        padding-top: 18px;
      }

      .mbuy{
        display: none;
      }

    }

    @media screen  and (max-width: 800px){
      & {
        min-height: 75rem;
        height: auto;


        .card{
          grid-template-columns: repeat(2, 1fr);
          justify-content: center;
          grid-column-gap: 5px;

          .column1, div:nth-child(2), .mbuy{
            grid-column: 1/3;

            h2, p{
              text-align: center;
              padding: 0;
            }

            :nth-child(3), :nth-child(4){
              display: none;
            }

          }

          div:nth-child(3), div:nth-child(4){
            grid-row: 3/3;
          }

          .mbuy{
            display: block;
            text-align: center;
            p:nth-child(2){
              font: fontvalue(16,18,500);
              font-style: italic;
      
              color: var(--website-color);
              padding-top: 18px;
            }
            
          }

        }

      }   
    }

  }

  .section5{
    height: 610px;
    background-color: #e3f0fa;

    .card{
      grid-template-columns: 35% repeat(3, 22%);
      padding-top: 100px;
      justify-content: center;
      margin-bottom: 2rem;

      .column1{ 
        h2{
          font: fontvalue(38,62,bold);

        }

        p,span, h2{
          color: var(--dark)
        }

        :nth-child(2){
          font: normal normal normal 30px/20px var(--website-font-family);
          font: fontvalue(23,15,normal);

        }

       
          :nth-child(3){
            font: fontvalue(20,45,300);
            font-style: italic;
            padding-bottom: 20px;
          }
          :nth-child(5){
            font: fontvalue(15,22,normal);

          }
          :nth-child(6){
            font: fontvalue(23,27,normal);

          }



    }

      div{
          display: grid;
          justify-content: center;

          img{
            object-fit: contain;
          }
      }

      .mtalmud{

        display: none;
      }

    }

    @media screen  and (max-width: 800px){
      & {
        min-height: 55rem;
        height: auto;

        .card{
          
          div{
            justify-items: center;
            text-align: center;
          }

          div:nth-child(2), div:nth-child(3), div:nth-child(4){
            display: none;
          }
          
          .mtalmud{
            margin-top: 4rem;
            justify-self: center;
            display: block;
          }

        }
      }      
    }

    @media screen  and (max-width: 390px){
      .mtalmud img{
        width: 17rem;
      } 

    }

  }

  .section6{
    height: 860px;
     .card{
      padding-top: 100px;
      grid-template-columns: 1fr 10px 1fr;
      justify-content: center;
      justify-items: center;
      grid-row-gap: 3rem;
      margin-bottom: 2rem;

      div{
          display: grid;
          justify-items: center;
          justify-content: center;

          img{
            object-fit: contain;
          }

          h2{
            font: fontvalue(38,62,normal);

          }

          p:nth-child(2){
            padding: 0px 24px;
            text-align: center;
            font: fontvalue(23 ,33, normal);
          }

          .sample{
            font: fontvalue(23,33,bold);
            padding-top: 30px;
            padding-bottom: 30px;
          }

          button{
            font: fontvalue(18,22,bold);
            @include buttonState(var(--website-color), #ffffff);
            border-radius: 10px;
            border: none;
            height: 43px;
            width: 265px;
          }

      }
      .verticalBar{
        width: 10px;
        background-color: var(--website-color);
        opacity: 0.2;
        height: 100%;
        box-shadow: 20px 30px 30px #00000015;
      }
    }

    @media screen  and (max-width: 800px){
      & {
        min-height: 73rem;
        height: auto;

        .card{
          .verticalBar{
            display: none;
          }
        }
      }      
    }

  }

  
  .section7{
    height: 543px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF0A 80%, var(--website-color-banner) 100%) 0% 0% no-repeat padding-box;
     .card{
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 1rem;

      div{
          display: grid;
          justify-content: center;
          justify-items: center;
          grid-template-rows: 4rem auto 3rem;

          h2{
            font: fontvalue(38,62,bold);

            text-align: center;
          }

          p{
            font: fontvalue(23,33,normal);

            text-align: center;
            padding-bottom: 30px;
          }

          button{
            @include buttonState(var(--website-color), #ffffff);
            border-radius: 10px;
            height: 43px;
            border: none;
            width: 152px;
            background-repeat: no-repeat;
            background-position: 20% center;
            padding-left: 10%;
            background-size: 14%;
            font: fontvalue(18,22,bold);

          }

          img{
            object-fit: contain;
          }
      }

      :nth-child(1) button{
        background-image: url('/images/homepage/newsletter.svg');
      }
      :nth-child(2) button{
        width: 125px;
        background-image: url('/images/homepage/whatsapp.svg');
      }
      :nth-child(3) button{
        width: 118px;
        background-image: url('/images/homepage/buy.svg');

      }

    }

    @media screen  and (max-width: 800px){
      & {
        min-height: 55rem;
        height: auto;
        margin-top: 4rem;


        .card{    
          div{
              button{
                padding-left: 6%;
              }
          }

    }    
    }
  }
    @media screen  and (max-width: 390px){
      margin-top: 8rem;

    }


  }

  .card{
    @media screen and (max-width: 800px) {
    grid-template-columns: 1fr !important;
    grid-row-gap: 1rem;
    margin-bottom: 2rem;
  }

}

  & > div{
    padding-bottom: 2rem;
  }
  
}


.popUp{
  display: none;
}


@media only screen and (max-width: 800px){
  .popUp{
    display: block;
  }

.modalScreen{
  margin-left: -259px;
  color: transparent;
  border-radius: 1rem;
  position: absolute;
  margin-top: 10px;
}

}


