@mixin general-container {
  display: grid;
  width: var(--container-width);
  margin: auto;
}

.card{
  @include general-container;
  grid-template-columns: repeat(2, auto);
} 


.main{

  font-family: var(--website-font-family);

  .section1{
    height: 590px;
    background: var(--website-color-banner) url('/images/homepage/LinesBackground.png') 0% -4% no-repeat;
    background-size: cover;
      .card{

        height: 590px;


       .cardContentLeft{
        align-self: center;
  
        h1{
            font: normal normal bold 60px/82px var(--website-font-family);
        }
  
        h3{
            font: normal normal normal 40px/57px var(--website-font-family);
        }
  
        h1, h3{
            color: #fff
        }
  
        button{
            width: 214px;
            height: 60px;
            border: none;
            opacity: 1;
            border-radius: 10px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            font: normal normal bold 26px/32px var(--website-font-family);
            margin-top: 5rem;
            color: var(--dark);
        }
  
    }
  
    .cardContentRight{
        background: transparent url('/images/homepage/ChayenuHomeTopRight.png') 0% 100px no-repeat padding-box;
        background-size: contain;
        
    }
  
  }
  }

  .section2{
    height: 878px;
      .card{
          height: 490px;
          align-items: center;

          .cardContentLeft{
              h2{
                  font: normal normal bold 50px/62px var(--website-font-family);
              }
              
              ul{
                  padding-top: 1rem;
              }

              ul li::marker {
                  font-size: 12px;
                }
              li{
                  padding: 5px;
                  list-style-position: inside;
              }
          }

      }

      .cardContentRight{
          background: transparent url('/images/homepage/ChayenuHomeSecondSection.png') 0% 100px no-repeat padding-box;
          background-size: contain;

          button{
              background: var(--dark) 0% 0% no-repeat padding-box;
              border-radius: 10px;
              width: 191px;
              height: 50px;
              color: #fff;
              margin-top: 72%;
              margin-left: 35%;
              font: normal normal bold 18px/22px var(--website-font-family);
          }
      }

      .card:nth-child(2){
        display: block;
        height: 167px;
        background: transparent linear-gradient(278deg, #e0effc 0%, var(--website-color-banner) 30%, #bfdef8 100%) 0% 0% no-repeat padding-box;
        padding: 20px;
        border-radius: 10px;

        p:nth-child(1){
          font: normal normal 400 20px/29px var(--website-font-family);
          color: var(--dark);
          padding-bottom: 20px;
        }
        p:nth-child(2){
          font: italic normal normal 14px/20px Brandon Grotesque;
          color: var(--dark);
        }
      }
    }

  .section3{
    height: 921px;   
    background-color: #e3f0fa;

    .card{
      height: 514px;
      padding-top: 100px;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, 1fr);

      .head{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;

        h2{
          font: normal normal bold 50px/82px var(--website-font-family);
        }
      }

      .cardContentLeft{
        display: grid;
        grid-template-columns: repeat(2, auto);
        padding-top: 34px;
        div{
          height: 408px;
          display: grid;
          .childCard{
            display: grid;
            grid-template-columns: repeat(2, 45%);
            align-items: center;
            grid-auto-rows: 3rem;
            
            .dailyStudyCards{
              display: grid;
              width: 148px;
              height: 28px;
              background: #EA1F2734 0% 0% no-repeat padding-box;
              justify-content: center;
              align-items: center;
            }
          
          }

        }

        & div:nth-child(2) > div{
          grid-template-columns: repeat(2, auto);

        }

      }

      .cardContentRight{
        display: grid;
        justify-content: center;
      }

      .subtitle{
        font: normal normal normal 20px/29px var(--website-font-family);
        text-transform: uppercase;

      }

    }

    .card:nth-child(2){
      display: block;
      height: 167px;
      background: transparent linear-gradient(278deg, #e0effc 0%, var(--website-color-banner) 30%, #bfdef8 100%) 0% 0% no-repeat padding-box;
      padding: 20px;
      border-radius: 10px;
      margin-top: 155px;

      p:nth-child(1){
        font: normal normal 400 20px/29px var(--website-font-family);
        color: var(--dark);
        padding-bottom: 20px;
      }
      p:nth-child(2){
        font: italic normal normal 14px/20px Brandon Grotesque;
        color: var(--dark);
      }
    }

  }

  .section4{
    height: 590px;

    .card{
      grid-template-columns: 27% 30% 1fr 1fr;
      margin-top: 100px;

      div{
        margin: 0 auto;
      }

      h2{
        font: normal normal bold 50px/82px var(--website-font-family);
      }

      .note{
        font: normal normal normal 32px/46px var(--website-font-family);
        padding-right: 45px;

      }

      .column1 p:nth-child(3){
        padding-top: 10px;
        font: normal normal normal 20px/29px var(--website-font-family);
      }

      .column1 p:nth-child(4){
        font: italic normal medium 22px/31px var(--website-font-family);
        color: var(--website-color);
        padding-top: 18px;
      }

    }

  }

  .section5{
    height: 629px;
    background-color: #e3f0fa;

    .card{
      grid-template-columns: 35% repeat(3, 22%);
      padding-top: 100px;

      .column1{ 
        h2{
          font: normal normal bold 50px/82px var(--website-font-family);
        }

        :nth-child(2){
          font: normal normal normal 30px/43px var(--website-font-family);
        }

       
          :nth-child(3){
            font: italic normal 300 26px/37px var(--website-font-family);
          }
          :nth-child(4){
            font: normal normal normal 20px/29px var(--website-font-family);
          }
          :nth-child(5){
            font: normal normal normal 30px/36px  var(--website-font-family);

          }



    }

      div{
          display: grid;
          justify-content: center;

          img{
            object-fit: contain;
          }
      }
    }

  }

  .section6{
    height: 878px;
     .card{
      padding-top: 100px;
      grid-template-columns: repeat(2, 1fr);

      div{
          display: grid;
          justify-items: center;
          justify-content: center;

          img{
            object-fit: contain;
          }

          h2{
            font: normal normal bold 50px/82px var(--website-font-family);

          }

          p:nth-child(2){
            padding: 0px 38px;
            text-align: center;
            font: normal normal normal 30px/43px var(--website-font-family);
          }

          .sample{
            font: normal normal bold 30px/43px var(--website-font-family);
            padding-top: 30px;
            padding-bottom: 30px;
          }

          button{
            font: normal normal bold 24px/29px var(--website-font-family);
            color: #FFFFFF;
            background: var(--website-color) 0% 0% no-repeat padding-box;
            border-radius: 10px;
            border: none;
            height: 57px;
            width: 354px;
          }
      }
    }

  }

  
  .section7{
    height: 590px;
    display: grid;
    justify-content: center;
    align-items: center;
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #FFFFFF0A 80%, var(--website-color-banner) 100%) 0% 0% no-repeat padding-box;
     .card{
      grid-template-columns: repeat(3, 1fr);

      div{
          display: grid;
          justify-content: center;
          justify-items: center;

          h2{
            font: normal normal bold 50px/82px var(--website-font-family);
            text-align: center;
          }

          p{
            font: normal normal normal 30px/43px var(--website-font-family);
            text-align: center;
            padding-bottom: 30px;
          }

          button{
            background-color: var(--website-color);
            border-radius: 10px;
            color: #fff;
            height: 57px;
            border: none;
            width: 202px;
            font: normal normal bold 24px/29px var(--website-font-family);

          }

          img{
            object-fit: contain;
          }
      }
    }

  }

}


