@mixin general-container {
  display: grid;
  height: 590px;
  width: var(--container-width);
  margin: auto;
}

.card{
  @include general-container;
  grid-template-columns: repeat(2, 1fr);

  .cardContentLeft{
      align-self: center;

      h1{
          font: normal normal bold 60px/82px var(--website-font-family);
      }

      h3{
          font: normal normal normal 40px/57px var(--website-font-family);
      }

      h1, h3{
          color: #fff
      }

      button{
          width: 214px;
          height: 60px;
          border: none;
          opacity: 1;
          border-radius: 10px;
          background: #FFFFFF 0% 0% no-repeat padding-box;
          font: normal normal bold 26px/32px var(--website-font-family);
          margin-top: 5rem;
          color: var(--dark);
      }

  }

  .cardContentRight{
      background: transparent url('/images/homepage/ChayenuHomeTopRight.png') 0% 100px no-repeat padding-box;
      background-size: contain;
      
  }

} 


.main{

  font-family: var(--website-font-family);

  .section1{
       background-color: var(--website-color);
  }

  .section2{
      .card{
          height: 490px;

          .cardContentLeft{
              h2{
                  font: normal normal bold 50px/62px var(--website-font-family);
              }
              
              ul{
                  padding-top: 1rem;
              }

              ul li::marker {
                  font-size: 12px;
                }
              li{
                  padding: 5px;
              }
          }

      }

      .cardContentRight{
          background: transparent url('/images/homepage/ChayenuHomeSecondSection.png') 0% 100px no-repeat padding-box;
          background-size: contain;

          button{
              background: var(--dark) 0% 0% no-repeat padding-box;
              border-radius: 10px;
              width: 191px;
              height: 50px;
              color: #fff;
              margin-top: 72%;
              margin-left: 35%;
              font: normal normal bold 18px/22px var(--website-font-family);
          }
      }
  }
}


