@mixin general-container {
  display: grid;
  width: var(--container-width);
  margin: auto;
}

.card{
  @include general-container;
  grid-template-columns: repeat(2, auto);
} 


.main{

  font-family: var(--website-font-family);

  .section1{
       background-color: var(--website-color);
      .card{

        height: 590px;


       .cardContentLeft{
        align-self: center;
  
        h1{
            font: normal normal bold 60px/82px var(--website-font-family);
        }
  
        h3{
            font: normal normal normal 40px/57px var(--website-font-family);
        }
  
        h1, h3{
            color: #fff
        }
  
        button{
            width: 214px;
            height: 60px;
            border: none;
            opacity: 1;
            border-radius: 10px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            font: normal normal bold 26px/32px var(--website-font-family);
            margin-top: 5rem;
            color: var(--dark);
        }
  
    }
  
    .cardContentRight{
        background: transparent url('/images/homepage/ChayenuHomeTopRight.png') 0% 100px no-repeat padding-box;
        background-size: contain;
        
    }
  
  }
  }

  .section2{
      .card{
          height: 490px;

          .cardContentLeft{
              h2{
                  font: normal normal bold 50px/62px var(--website-font-family);
              }
              
              ul{
                  padding-top: 1rem;
              }

              ul li::marker {
                  font-size: 12px;
                }
              li{
                  padding: 5px;
                  list-style-position: inside;
              }
          }

      }

      .cardContentRight{
          background: transparent url('/images/homepage/ChayenuHomeSecondSection.png') 0% 100px no-repeat padding-box;
          background-size: contain;

          button{
              background: var(--dark) 0% 0% no-repeat padding-box;
              border-radius: 10px;
              width: 191px;
              height: 50px;
              color: #fff;
              margin-top: 72%;
              margin-left: 35%;
              font: normal normal bold 18px/22px var(--website-font-family);
          }
      }
  }


  .section3{
    height: 921px;   

    .card{
      height: 514px;
      // width: 100%;
      grid-template-columns: auto auto;
      grid-template-rows: repeat(3, 1fr);

      .head{
        display: grid;
        grid-column-start: 1;
        grid-column-end: 3;
      }

      .cardContentLeft{
        display: grid;
        grid-template-columns: repeat(2, auto);
        align-items: center;
        div{
          height: 408px;
          display: grid;
          .childCard{
            display: grid;
            grid-template-columns: repeat(2, auto);
            align-items: center;
            grid-gap: 1rem;
            
            .dailyStudyCards{
              display: grid;
              width: 140px;
              height: 62px;
              background: #EA1F2734 0% 0% no-repeat padding-box;
              justify-content: center;
              align-items: center;
            }
          
          }

        }

      }

      .cardContentRight{
        display: grid;
        justify-content: center;
      }

      .subtitle{
        font: normal normal normal 20px/29px var(--website-font-family);
        text-transform: uppercase;

      }

    }



  }

}


