@import 'common.scss';
.page {
  width: var(--container-portal-width);
  margin: 1rem auto;
  button {
    height: 2rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1rem;
    font: fontvalue(12, 12, 500);
    border: none;
    color: white;
    background-color: var(--website-color);
  }
}
