.main {
    display: flex;
    justify-content: center;
    gap: 32px;
    width: var(--container-width);
    font-family: var(--website-font-family);
    margin: 0 auto;
    margin-top: 40px;

    a:hover {
        text-decoration: underline;
    }

    .outlineWrapper {
        background-color: #e3f0fa;
        border-radius: 10px;
        position: sticky;
        height: 100%;
        min-width: 200px;
        top: 20px;
    }

    .title {
        margin-block-start: 30px;
        text-align: center;
        font-size: 36px;
        font-weight: 600;
    }

    .digitalPrintIndicatorWrapper {
        display: flex;
        gap: 20px;
        margin-block-start: 20px;
    }

    @media screen and (max-width: 85.313rem) {
        flex-direction: column;
        margin-top: 40px;

        .outlineWrapper {
            position: static;
        }

        .title {
            margin-block-start: 0px;
        }

        .digitalPrintIndicatorWrapper {
            justify-content: center;
        }
    }
}

.page {
    max-width: 680px;
    color: #003652;
}

.digitalPrintIndicatorWrapper>* {
    transform: scale(1.25);
}

.outlineWrapper a {
    color: #00222B;
    font-weight: bold;
    text-decoration: none;
}

.outlineWrapper ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 32px;
    list-style-type: none;
}