@import 'common.scss';

.subscribe {
  text-align: center;
  margin-top: 3rem;
  font: fontvalue(19.5, 21, 400);
}
.selectProduct {
  text-align: center;
  margin-top: 2rem;
  font: fontvalue(15, 17, 400);
}
.studentmilitaryline {
  font: fontvalue(16, 16, 400);
  margin-top: 1rem;
}
.products {
  margin: 3rem auto 3rem auto;
  width: var(--container-width);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 1.5rem;
  row-gap: 1.5rem;
  .productCard {
    grid-column: span 2;
  }
  .productCard:last-child:nth-child(3n - 1) {
    grid-column-end: -2;
  }
  .productCard:nth-last-child(2):nth-child(3n + 1) {
    grid-column-end: 4;
  }
  .productCard:last-child:nth-child(3n - 2) {
    grid-column-end: 5;
  }
  @media screen and (min-width: 59.375rem) and (max-width: 81.25rem) {
    grid-template-columns: repeat(4, 1fr);
    .productCard:last-child:nth-child(3n - 1) {
      grid-column-end: inherit;
    }
    .productCard:nth-last-child(2):nth-child(3n + 1) {
      grid-column-end: inherit;
    }
    .productCard:last-child:nth-child(2n - 1) {
      grid-column-end: 4;
    }
  }
  @media screen and (max-width: 59.375rem) {
    grid-template-columns: repeat(1, 1fr);
    .productCard:nth-last-child(2):nth-child(3n + 1) {
      grid-column-end: unset;
    }
    .productCard:last-child:nth-child(3n - 1) {
      grid-column-end: unset;
    }

    .productCard:last-child:nth-child(3n - 2) {
      grid-column-end: unset;
    }
  }
}
.error {
  text-align: center;
  font-family: Brandon Grotesque;
  font-size: 2rem;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.alreadyHaveAccount {
  font: fontvalue(18, 18, 400);
  font-family: var(--website-font-family), sans-serif;
  text-align: center;
  margin-top: 2rem;
  a {
    color: var(--website-color);
    font-weight: bold;
  }
}
