@import 'common.scss';
.form {
  background-color: var(--website-color-light);
  width: min(18rem, 90vw);
  padding: 20px;
  font: fontvalue(14, 14, 500);
  border-radius: 10px;
  text-align: center;
  display: grid;
  row-gap: 0.5rem;
  .reasons {
    font: fontvalue(14, 14, 300);
    text-align: left;
    margin: 0.2rem 0;
    display: flex;
    align-items: center;
    input[type='checkbox'] {
      width: 20px;
      height: 20px;
      border: none ;
    }
    label {
      margin-left: 1rem;
      cursor: pointer;
    }
  }
  .button {
    display: flex;
    justify-content: space-around;
    button {
      height: 2rem;
      border-radius: 5px;
      padding: 0px 10px;
      font-size: 1rem;
      font: fontvalue(14, 14, 500);
      width: 100%;
      border: none;
      color: white;
      background-color: var(--website-color);
      margin: 1rem .5rem 0 .5rem;
    }
  }
}
