@import 'common.scss';

.subscriptionCard {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  font: fontvalue(13, 13, 500);
  .success {
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
  .text {
    line-height: 20px;
  }
  .login {
    margin-top: 2rem;
    .loginlink {
      color: var(--website-color);
    }
  }
  button {
    height: 2rem;
    border-radius: 5px;
    padding: 0px 10px;
    font-size: 1rem;
    margin-top: 1rem;
    width: 3rem;
    font: fontvalue(12, 12, 500);
    border: none;
    color: white;
    background-color: var(--website-color);
  }
}
