@import 'common.scss';

.formWrapper {
  form {
    display: grid;
    row-gap: 2rem;
  }
  margin: 2rem auto 2rem auto;
  font-family: 'Brandon Grotesque', sans-serif;
  .subscribe {
    display: flex;
    flex-direction: column;
  }
  .form {
    .creditCard {
      display: grid;
      grid-template-rows: repeat(2, 1fr);
      row-gap: 1rem;
      label {
        font: fontvalue(14, 14, 300);
        margin-bottom: 5px;
      }
      .hostedFields {
        height: 2rem;
        background-color: white;
        width: 100%;
        padding: 10px;
        border-radius: 10px;
      }
      .expirycvv {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 1rem;
      }
    }
    .selectPaymentMethod {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 1rem;
      @media screen and (max-width: 45rem) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, 1fr);
      }
    }
    background-color: #75b2e633;
    padding: 30px;
    width: 600px;
    border-radius: 10px;
    @media screen and (max-width: 950px) {
      width: 80vw;
    }
    .nameSection {
      display: flex;
      justify-content: center;
      label {
        &:first-of-type {
          margin-right: 10px;
        }
      }
      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }

    .error {
      color: red;
      font: fontvalue(12, 12, 300);
      min-width: 1px;
      min-height: 12px;
      font-family: 'Brandon Grotesque', sans-serif;
    }
    
    .selectCountry {
      color: #003652;
      text-align: center;
      font: fontvalue(18, 20, 300);
      font-family: 'Brandon Grotesque', sans-serif;
      text-align: center;
      font-weight: 700;
      margin: 1rem 0;
      select {
        height: 2rem;
        border-radius: 5px;
        margin-top: 1rem;
        padding: 0px 10px;
        font: fontvalue(16, 16, 300);
        width: 100%;
        border: 0px solid rgb(206, 212, 218);
        box-shadow: none;
        &:focus {
          outline: none;
        }
        @media screen and (max-width: 70rem) {
          width: 100%;
        }
      }
    }
    .selectDistributor {
      margin: 2rem 0;
      text-align: center;
      div {
        font: fontvalue(18, 18, 300);
        margin-bottom: 0.5rem;
        font-family: 'Brandon Grotesque', sans-serif;
      }
      select {
        height: 2rem;
        border-radius: 5px;
        padding: 0px 10px;
        width: 100%;
        font: fontvalue(16, 16, 300);
        font-family: 'Brandon Grotesque', sans-serif;
        border: 0px solid rgb(206, 212, 218);
        box-shadow: none;
        &:focus {
          outline: none;
        }
        @media screen and (max-width: 70rem) {
          width: 100%;
        }
      }
    }
    .country {
      .location {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0rem;
        border-radius: 3px;
        background: white;
        margin: 0 auto;
        @media screen and (max-width: 500px) {
          display: flex;
          flex-direction: column;
        }
        .countryType {
          height: 3.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          font: fontvalue(16, 16, 500);
          font-family: 'Brandon Grotesque', sans-serif;
          color: black;
          cursor: pointer;
        }
        .selectCountry {
          background-color: #75b2e6;
          transition: background-color ease 0.25s;
          color: white;
          margin: 2px;
          border-radius: 3px;
        }
        @media screen and (max-width: 70rem) {
          width: 100%;
        }
      }
    }
    .plan {
      margin-bottom: 2rem;
      .selectPlan {
        color: #003652;
        font-family: 'Brandon Grotesque', sans-serif;
        font-weight: bold;
        text-align: center;
        margin: 1rem 0;
        font-size: 1rem;
      }
      .plansContainer {
        display: flex;
        background-color: #ffffff;
        border-radius: 5px;
      }
    }
    label {
      display: flex;
      align-items: center;
      font: fontvalue(16, 16, 300);
      font-family: 'Brandon Grotesque', sans-serif;
      margin-bottom: 15px;
      width: 100%;
      flex-wrap: wrap;
      &:focus-within {
        color: var(--website-color);
      }
    }
    input {
      height: 2rem;
      border-radius: 5px;
      padding: 0px 10px;
      font-size: 1rem;
      font-weight: 300;
      width: 100%;
      font: fontvalue(14, 14, 300);
      border: 0px solid rgb(206, 212, 218);
      box-shadow: none;
      margin-top: 0.2rem;
      &:focus {
        outline: none;
      }
    }
    select {
      height: 2rem;
      border-radius: 5px;
      padding: 0px 10px;
      margin-top: 0.2rem;
      font-size: 1rem;
      font-weight: 300;
      font: fontvalue(14, 14, 300);
      width: 100%;
      border: 0px solid rgb(206, 212, 218);
      box-shadow: none;
      &:focus {
        outline: none;
      }
    }
    .organization {
      grid-column-start: 1;
      grid-column-end: 3;
      @media screen and (max-width: 62.5rem) {
        grid-column-end: 2;
      }
    }
    .phoneInput {
      display: flex;
      align-items: center;
      outline: none;
      width: 100%;
      input {
        margin-left: 1rem;
      }
      & > div {
        display: block;
        height: 100%;
        position: relative;
        & > select {
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 56px;
          z-index: 1;
          border: 0;
          opacity: 0;
          cursor: pointer;
        }
        & > div:nth-child(2) {
          width: 42px;
          height: 28px;
          & > img {
            height: 100%;
          }
        }
      }
    }
    .streetAddress {
      grid-column-start: 1;
      grid-column-end: 1;
      display: grid;
      grid-column-gap: 1rem;
      column-gap: 1rem;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
    }
    .location {
      display: flex;
      label {
        &:first-child {
          margin-right: 10px;
        }
      }
      @media screen and (max-width: 500px) {
        flex-direction: column;
      }
    }
    .locationDiv {
      grid-column-start: 1;
      grid-column-end: 3;
      display: grid;
      column-gap: 1rem;
      grid-auto-columns: 1fr;
      grid-auto-flow: column;
      @media screen and (max-width: 62.5rem) {
        grid-auto-flow: row;
        grid-column-end: 2;
        row-gap: 3rem;
      }
    }
    .heading {
      grid-column-start: 1;
      grid-column-end: 3;
      margin: auto;
      font: fontvalue(18, 20, 300);
      font-family: 'Brandon Grotesque', sans-serif;
      @media screen and (max-width: 62.5rem) {
        grid-column-end: 2;
      }
    }
    .dropinContainer {
      grid-column-start: 1;
      grid-column-end: 3;
      @media screen and (max-width: 62.5rem) {
        grid-column-end: 2;
      }
    }

    .submit {
      border-radius: 5px;
      padding: 8px 16px;
      margin: auto;
      margin-top: 20px;
      background-color: var(--website-color);
      color: white;
      border: none;
      outline: none;
      font: fontvalue(18, 18, 400);
      font-family: 'Brandon Grotesque', sans-serif;
      cursor: pointer;
      transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

      &:hover {
        box-shadow: 0px 6px 12px #00000029;
      }
    }

    .disabled {
      background-color: grey !important;
      cursor: auto;
      &:hover {
        box-shadow: none;
      }
    }
  }
}

.stylePaymentMethods {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: fontvalue(14, 14, 300);
}
